<div class="page">
  <n-a-v></n-a-v>
  <vue-particles
      color="#dedede"
      :particleOpacity="0.7"
      :particlesNumber="50"
      shapeType="circle"
      :particleSize="6"
      linesColor="#dedede"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.4"
      :linesDistance="150"
      :moveSpeed="2"
      :hoverEffect="false"
      hoverMode="grab"
      :clickEffect="false"
      clickMode="push"
      class="lizi"
    >
  </vue-particles>
  <div class="jumbo">
    <div class="container">
      <div class="name-intro">
        <div class="name">
          Elite<span>admin Panel</span>
        </div>
        <div class="sub-name">
          Vue 家族的后台面板前端解决方案
          <p>the new Elite is comming</p>
        </div>
        <div class="buttons">
          <el-button type="primary" round @click="run('http://preview.elite.illiaccess.com', 'link')">预 览</el-button>
          <el-button round @click="run('/docs/start-up','route')">开始使用</el-button>
        </div>
      </div>
      <div class="pic">
        <img src="../../assets/logo.png" />
      </div>
    </div>
  </div>
  <div class="introduction section">
    <div class="container">
      <div class="title">
        What can <span>Elite</span> do
      </div>
      <div class="content">
        <div class="list-item" v-for="item,index in features" :key="index">
          <div class="avatar" :style="item.style">
            <span class="iconfont" v-html="item.icon"></span>
          </div>
          <div class="name">
            {{item.title}}
          </div>
          <div class="description">
            {{item.desc}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-stack section" style="display: none;">
    <div class="container">
      <div class="title">
        <span>Elite</span> 技术栈
      </div>
      <div class="content">
        Vue.js
        vue-router
        axios
        elementUI
        vuex
        less

      </div>
    </div>

  </div>
  <div class="usage section">
    <div class="container">
      <div class="title">Let's <span>Elite</span> it</div>
      <div class="content">
        <div class="description">
          在命令行运行以下命令，快速启动开发服务
        </div>
        <div class="code">
<pre  v-highlightjs="sourcecode"><code class="bash">git clone https://github.com/mitkimi/newElite.git
cd newElite
npm i
npm run watch # 打开浏览器访问 http://localhost:8080
</code></pre>
        </div>
        <div class="description">
          需要帮助？请先阅读 <router-link to="">开发文档</router-link> 和 <router-link to="">常见问题</router-link>， 如果未能解决，可以到 <router-link to="">GitHub</router-link> 上 进行提问。
        </div>
        <div class="buttons">
          <el-button type="primary" round @click="run('https://github.com/mitkimi/newElite', 'link')">下载Elite</el-button>
        </div>
      </div>
    </div>
  </div>
  <f-o-o-t></f-o-o-t>
</div>
