<div class="footer">
  <div class="container">
    <el-row :gutter="20">
      <el-col :span="6">
        <div class="footer-title">相关资源</div>
        <ul>
          <li><a href="https://cn.vuejs.org/">Vue.js</a></li>
          <li><a href="https://vuex.vuejs.org/">Vuex</a></li>
          <li><a href="http://element.eleme.io/">elementUI</a></li>
          <li><a href="https://www.npmjs.com/package/axios">axios</a></li>
          <li><a href="http://cpts.ipietech.com/">components</a> - 骚气的组件库</li>
        </ul>
      </el-col>
      <el-col :span="6">
        <div class="footer-title">社区</div>
        <ul>
          <li>暂无</li>
          <!-- <li><a href="https://cn.vuejs.org/">Vue.js</a></li>
          <li><a href="https://cn.vuejs.org/">Vue.js</a></li>
          <li><a href="https://cn.vuejs.org/">Vue.js</a></li>
          <li><a href="https://cn.vuejs.org/">Vue.js</a></li>
          <li><a href="https://cn.vuejs.org/">Vue.js</a></li>
          <li><a href="https://cn.vuejs.org/">Vue.js</a></li> -->
        </ul>
      </el-col>
      <el-col :span="6">
        <div class="footer-title">帮助</div>
        <ul>
          <li><a href="https://github.com/mitkimi/elite">github</a></li>
          <li><router-link :to="{path: '/qa/changelog'}">更新记录</router-link></li>
          <li><router-link :to="{path: '/qa/qa'}">常见问题</router-link></li>
          <li><a href="https://github.com/mitkimi/elite/issues">在线讨论</a></li>
          <li><a href="https://segmentfault.com/u/mitkimi">SegmentFault</a></li>
        </ul>
      </el-col>
      <el-col :span="6">
        <div class="footer-title">🌈友情链接</div>
        <ul>
          <li><a href="https://www.npmjs.com/~mitkimi">npmjs.com</a></li>
          <li><a href="https://www.mitkimi.com/">黑米说</a> - 作者的技术博客</li>
          <li><a href="https://www.ipietech.com/">派科技</a></li>
          <li><a href="https://gitlab.ipietech.com/">Gitlab</a></li>
          <li><a href="http://endui.ipietech.com/">ENDUI/嗯对</a> - 干净的搜索引擎</li>
          <li><a href="http://pan.ipietech.com/">可道云盘</a></li>
          <li><a href="https://www.ssocapp.com/">SSOC</a> - 二次验证</li>
        </ul>
      </el-col>
    </el-row>
  </div>
  <div class="line">
    
  </div>
  <div class="copyright">
    <p>
      &copy; <a href="/">elite.ipietech.com</a> 2019 ️️❤️ by Kimi Tian 
    </p>
    <p>Powered by Efficiency Engineering</p>
  </div>
</div>